<div class="form-wrapper">
  <h1 class="form-title">ログイン</h1>
  <% if flash[:notice] %>
    <p class="error"><%= flash[:notice] %></p>
  <% end %>
  <%= form_with url: dokotomeyo_login_path do |f| %>
    <ul class="form-container">
      <li>
        <%= f.label "メールアドレス", class: "text-label" %>
        <%= f.email_field :email, value: @input, class: "text-field" %>
      </li>
      <li>
        <%= f.label "パスワード", class: "text-label" %>
        <%= f.password_field :password, class: "text-field" %>
      </li>
      <%= f.submit "ログイン", class: "text-submit" %>
    </ul>
  <% end %>
</div>
